.App {
  text-align: center;
}

p {
  font-size: 24px;
}

/*horizontal nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}
.nav-pages {
  margin: 0%;
  padding: 0;
  margin-bottom: 5px;
}

.nav-pages a {
  display: block;
  font-size: 20px;
  color: black;
  padding: 30px;
  text-align: center;
  background-color: #dddddd;
  margin: 6px;
}

#about {
  float: right;
}



.event-paragraph{
  font-size: 18px;
  font-style: italic;
}


#page-body {
  max-width: 700px;
  margin: auto;
  padding: 64px;
}

/*CALENDAR */
.cal-parent{
  position: relative;
}

.cal {
  float: right;
  position: fixed;
  width: 20%;
}


.cal-parent {
    background-color:red;
    margin:0 auto;
    position:relative
}
.cal {
    width:20%;
    border:1px solid white;
    position:fixed; right:0
}


.react-calendar__tile {
    height: 70px;
    background-color: white;
}

.react-calendar__tile--active {
    background-color: gray !important;
}

.react-calendar__tile2 {
    background-color: blue !important;
    color: black !important;
}
